{:rename-macros {}, :renames {}, :externs {setTimeout {}}, :use-macros {with-let javelin.core, cell= javelin.core, prop-cell javelin.core, cache-key hoplon.core, with-timeout hoplon.core, with-dom hoplon.core}, :excludes #{}, :name hoplon.goog, :imports nil, :requires {goog.dom.forms goog.dom.forms, goog.dom goog.dom, domcl goog.dom.classlist, fxdom goog.fx.dom, goog.dom.classlist goog.dom.classlist, dom goog.dom, hoplon.core hoplon.core, events goog.events, domf goog.dom.forms, goog.fx.dom goog.fx.dom, style goog.style, goog.style goog.style, goog.events goog.events}, :uses {do! hoplon.core, on! hoplon.core, normalize-class hoplon.core}, :require-macros {javelin.core javelin.core, hoplon.core hoplon.core}, :cljs.analyzer/constants {:seen #{:fade-toggle :value :slide-toggle :toggle :class :focus-select :focus :scroll-to :select :html :text}, :order [:value :class :toggle :slide-toggle :fade-toggle :focus :select :focus-select :text :html :scroll-to]}, :doc nil}